html {
  font-size: 16px;
  font-family: emoji;
}

.App-header {
  border-bottom: 2px solid red;
  padding: 20px;
  display: flex;
  align-items: center;
}

.App-header h1 {
  color: red;
}

.App-header img {
  width: 10rem;
  height: 10rem;
  margin-right: 20px;
}

.App-body {
  padding: 20px;
}

.App-footer {
  border-top: 2px solid red;
  padding: 20px;
  font-style: italic;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

input {
  font-size: 1rem;
  margin: 0.5rem;
}


button {
  padding: 8px 1.0rem;
  border-radius: 7px;
  background-color: white;
  border-color: darkgray;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0.4rem;
}